{% extends "blogs/base.html" %}

{% block content %}
    <div class="bg_image">
        <div class="container">
            <div class="page-header">
                <div class='jumbotron'>
                    <h1>Daily Musings</h1>
                </div>
            </div>

            <div style="height: 500px;">
                <h2>
                    <a href="{% url 'users:register' %}">Register an account</a> to make your own Bundo Blog, and write your own bundo thoughts.
                </h2>
                <h2>
                    Daily musings of a weird bundoo who's trying to get through life.
                </h2>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
		<footer class="footer-distributed">
			<div class="footer-right">
				<a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
				<a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
				<a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
				<a href="https://github.com/"><i class="fab fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a class="link-1" href="#">Home</a>
					<a href="#">About</a>
					<a href="#">Contact</a>
				</p>

				<p>Bundo Blogs &copy; 2020</p>
			</div>

		</footer>
{% endblock footer %}
