{% extends "blogs/base.html" %}

{% block sidebar %}
<!--    <div class="container sidebar">-->
<!--        <ul>-->
<!--            <li><a href="/">Home</a></li>-->
<!--            <li><a href="/blog/">Blog</a></li>-->
<!--        </ul>-->
<!--    </div>-->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Topics</h2>
        </div>

        <div>
            <ul>
            {% for topic in topics %}
          <li>
              <h3>
                  <a href="{% url 'blogs:topic' topic.id %}">{{ topic }}</a>
              </h3>
          </li>
            {% empty %}
          <li>No topics have been added yet.</li>
            {% endfor %}
        </ul>
        </div>
        <h4><a href="{% url 'blogs:new_topic' %}" class="btn btn-primary" role="button">Add a New Topic:</a></h4>
    </div>
{% endblock content %}

